{% extends 'pages/layout.twig' %}

{% block pageContent %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>User details</h2>
                    <ol>
                        <li><a href="home">User </a></li>
                        <li>Contact</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page">

            <p>{{ user.getFirstname() }}</p>

            <p>{{ user.getAddress() }}</p>

        </section>

    </main><!-- End #main -->

{% endblock %}