
<div class="form-group">
    <label for="existingEventAutocomplete">Zoek een bestaand evemenement</label>
    <input type="text" id="existingEventAutocomplete" name="existingEventAutocomplete" value="{{ eventName }}" placeholder="Zoek evenement">
</div>

<div class="form-group">
    <a id="ticketDetailsEx" href="#" class="btn btn-success">Volgende <em class="bx bxs-chevron-right"></em></a>
</div>

