<div>
    {% if cart|length != 0 %}
    <table class="form">
        <thead>
        <tr>
            <th>amount</th>
            <th>name</th>
            <th>price</th>
        </tr>
        </thead>

        <tbody>
        {% for ticket in cart %}
            <tr>
                <td>{{ ticket.getAmount() }}</td>
                <td>{{ ticket.getName() }}</td>
                <td>{{ ticket.getAmount() * ticket.price() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Leeg winkelmandje</p>
{% endif %}
</div>