<div class="container">
    <p>Bedankt om bij ons een ticket aan te schaffen. De tickets zijn samen met het overdrachtsbewijs naar u verzonden. </p>
    <p>Mocht dit niet het geval zijn kan u ons altijd op dit mailadres <a href="mailto:aftersales@ticketswap.be">aftersales@ticketswap.be</a> bereiken.</p>
    <a href="/home" class="btn btn-outline-primary">Keer terug naar de homepagina</a>
</div>