{% include 'layout/parts/header.twig' %}
<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Contact</h2>
                <ol>
                    <li><a href="index.php">Home</a></li>
                    <li>Contact</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container contact">
            <div class="section-title">
                <h2>Contact</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 info" data-aos="fade-up">
                            <i class="bx bx-map"></i>
                            <h4>Address</h4>
                            <p>A108 Adam Street,<br>New York, NY 535022</p>
                        </div>
                        <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-phone"></i>
                            <h4>Call Us</h4>
                            <p>+1 5589 55488 55<br>+1 5589 22548 64</p>
                        </div>
                        <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-envelope"></i>
                            <h4>Email Us</h4>
                            <p>contact@example.com<br>info@example.com</p>
                        </div>
                        <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-time-five"></i>
                            <h4>Working Hours</h4>
                            <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form action="contact.php" method="POST" novalidate="" role="form" class="php-email-form" data-aos="fade-up">
                        <div class="form-group">
                            <input placeholder="Your Name" type="text" name="name" class="form-control" id="name" value="{% if not errName and name != ''%}{{name}}{% endif %}"/>
                            {% if errName  %}<div class="errorMsg">
                                Please fill in a name
                            </div>{% endif %}
                        </div>
                        <div class="form-group">
                            <input placeholder="Your Email" type="email" class="form-control" name="email" id="email" value="{% if not errEmail and email != ''%}{{email}}{% endif %}"/>
                            {% if errEmail %}<div class="errorMsg">
                                Please fill in an email-address
                            </div>{% endif %}
                        </div>
                        <div class="form-group">
                            <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject" value="{% if not errSubject and subject != ''%}{{subject}}{% endif %}"/>
                            {% if errSubject %}<div class="error">
                                Please fill in a subject
                            </div>{% endif %}
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Message" class="form-control" name="message" rows="5" value="{% if not errMessage and message != ''%}{{message}}{% endif %}"></textarea>
                            {% if errMessage %}<div class="error">
                                Please fill in a message
                            </div>{% endif %}
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button value="submit" name="submit" type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% include 'layout/parts/footer.twig' %}