{% extends 'pages/layout.twig' %}

{% block pageContent %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Ticket aanmaken</h2>
                <ol>
                    <li><a href="home">Home</a></li>
                    <li>Evenementen</li>
                    <li>Ticket aanmaken</li>
                </ol>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <!-- CENTER THIS RADIOBUTTON THING -->
            <form action="/create/ticket" method="POST" novalidate>
                <div class="d-flex" id="eventSelection">
                    <div>
                        <input type="radio" id="existing" name="typeEvent" value="existing">
                        <label for="existing"> Bestaand evenement</label>
                    </div>

                    <div class="ml-5">
                        <input type="radio" id="new" name="typeEvent" value="new">
                        <label for="new"> Nieuw evenement</label>
                    </div>
                </div>

                <div id="existingEvent"  style="display: block;">
                    {% include 'layout/parts/existingEvent.twig' %}
                </div>

                <div id="newEvent"  style="display: none;">
                    {% include 'layout/parts/newEvent.twig' %}
                </div>

                <div id="ticketDetails" style="display: none;">
                    {% include 'layout/parts/ticketDetails.twig' %}
                </div>
            </form>
        </div>
    </section>
</main>
    <script src="/assets/js/newTicket.js"></script>
{% endblock %}