{% extends 'pages/layout.twig' %}

{% block pageContent %}
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>Ticketswap</h1>
            <h2>Verkoop veilig en snel uw tickets voor evenementen.</h2>
            <a href="/events" class="download-btn"><i class="bx bx-calendar-event"></i> Evenementen</a>
              {% if firstname != '' %}
                    <a href="/create/event" class="download-btn"><i class="bx bx-news"></i> Ticket Verkopen</a>
              {% endif %}
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="assets/img/exchange.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>Waarom voor ticketswap kiezen?</h2>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Grootste in Europa</h4>
                  <p>Wij zijn de grootste van Europa, dus hebben wij de meeste keuze.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Betaalsmogelijkheden</h4>
                  <p>Wij accepteren alle gangbare bankpassen/ kredietkaarten.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class='bx bxs-chevrons-right'></i>
                  <h4>Snel</h4>
                  <p>U kan uw tickets kopen of verkopen in maximaal 5 minuten.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>Veilig</h4>
                  <p>Bij ons zijn uw persoonlijke gegevens veilig!</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-atom"></i>
                  <h4>Van klasiek tot dance</h4>
                  <p>Op dit platform kan u veel verschillende evenementen/ stijlen vinden.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="bx bx-id-card"></i>
                  <h4>Alleen geverifieerde verkopers</h4>
                  <p>Ieder ticket dat bij ons te koop geplaatst wordt is geverifieerd bij de organisator van het event.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <!-- IMAGE VERANDEREN -->
              <img src="assets/img/features.svg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End App Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>De mening van onze gebruikers</h2>
          <p>Hieronder kan u de meningen lezen van personen die hun tickets via ons platform gekocht of verkocht hebben. Zou u uw mening hier willen weergeven? Stuur ze dan vrijblijvend naar <a href="mailto:mening@ticketswap.be">mening@ticketswap.be</a>. </p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Mijn ticket was in no-time verkocht. We raden deze dienst zeker aan!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Door omstandigheden konden wij niet naar het evenement gaan. Wij hebben ons ticket verkocht op deze website. Het geld stond direct op de rekening. Wij hopen dat de koper plezier heeft gehad!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Ik organiseerde een evenement en ik bood mijn tickets via dit platform te koop aan. Nu heb ik veel meer tickets verkocht dan in de vorige jaren. Ik raad dit platform zeker aan meer organisatoren aan!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Ik kon dankzij dit platform de dag voor een uitverkocht concert hier toch nog een ticket bemachtigen.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Ik was in eerste instantie wat angstig omdat tickets meestal op naam staan. Maar met het bewijs dat Ticketswap me leverde geraakte ik zonder problemen binnen. Ik raad dit ook zeker aan!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">

          <h2>Veelgestelde vragen</h2>
          <p>Binnen deze rubriek kan je de meest gestelde vragen gesteld door gebruikers vinden. Indien je het antwoord op uw vraag hier niet kan vinden kan u ons altijd via dit <a href="/contact">Contactformulier</a> bereiken.</p>
        </div>

        <div class="accordion-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#accordion-list-1">Kan ik meerdere tickets tegelijk bestellen?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                <p>
                  Ja! Het is mogelijk om meerdere tickets tegelijk te kopen. Afhankelijk van de beschikbaarheid natuurlijk.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">Wat kost het om mijn ticket te verkopen? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                <p>
                  Zo goed als niets! Wij vragen een kleine bijdrage van €0,50 (50 cent) per verkocht ticket. De koper betaalt niets extra.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">Hoe weet ik of het om een echt evenement gaat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                <p>
                  Alle evenementen en tickets die op ons platform te koop worden geplaatst zijn door ons gescreend op echtheid. Zo kan je er 100% zeker van zijn dat u een echt en veilig ticket koopt. Mocht er toch dergelijk ticket verkocht zijn betaalt ticketswap u de aankoopprijs terug.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-4" class="collapsed">Hoe verkoop ik mijn tickets? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                <p>
                  Eerst en vooral dient u een account aan te maken. Indien dit al gebeurt heeft staat er bovenaan een link 'ticket verkopen'. Hier vragen wij u om een aantal gegevens van het evenement in te vullen. Als het al bestaat wordt deze stap over geslaan. Dan worden de details van het ticket gevraagd. U laad uw ticket op en wacht tot er een koper.
                </p>
              </div>
            </li>

              <li data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-5" class="collapsed">Kunnen tickets duurder verkocht worden? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-5" class="collapse" data-parent=".accordion-list">
                      <p>
                          Nee, tickets kunnen niet aan woekerprijzen verkocht worden. De maximumprijs van een ticket bedraagt maximaal 10% boven de originele prijs. Deze wordt tevens ook door ons geverifieerd zodat u nooit opgelicht wordt.
                      </p>
                  </div>
              </li>


          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

{% endblock %}