{% extends 'pages/layout.twig' %}

{% block pageContent %}
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Contact</h2>
                <ol>
                    <li><a href="home">Home</a></li>
                    <li>Winkelwagen</li>
                </ol>
            </div>

        </div>
    </section>

    <section>
            <table>
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Event</th>
                        <th>Verkoper</th>
                        <th>Prijs</th>
                        <th>Acties</th>
                    </tr>
                </thead>

                <tbody>
                {{  }}
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>

                </tbody>
            </table>

    </section>


{% endblock %}