<form action="/register" method="post">
    <h1>Register</h1>
    <div>
        <input type="email" class="form-control mt-2" placeholder="Email" name="email" required="" />
    </div>
    <div>
        <input type="password" class="form-control mt-2" placeholder="Password" name="password" required="" />
    </div>
    <div>
        <input type="password" class="form-control mt-2" placeholder="Password" name="repeatPassword" required="" />
    </div>
    <div class="mt-2">
        <input type="hidden" name="moduleAction" value="register" />
        <input type="submit" class="btn btn-success submit text-right" value="Register">
    </div>
    <div class="clearfix"></div>
</form>